body {
    background-color: white;
    font-family: Arial, sans-serif;
    padding-top: 150px;
  }
  
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: white;
    z-index: 9999;
  
  }
  .navbar-custom {
    background-color: #28a745;
    border-radius: 30px;
    margin: 20px 20px 0 20px;
    
  }
  .logo-text {
    color: #28a745;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    z-index: 1000; 
  }

  .BUtton {
    background-color: white;
    border: 2px solid #28a745; 
    border-radius: 30px;
    color: #28a745;
    padding: 10px 20px;
    margin: 20px 0 -20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    font-weight: bold;
    cursor: pointer;
  }
  .BUtton:hover {
    background-color: #28a745;
    color: white;
  }


  .social-icons img {
    width: 50px;
    margin: -10px;
    padding: 0px 0px 0px 30px;
  }
  .navbar-nav {
    border-radius: 10px;
    
    display: flex;
    width: 100%;
    
  }
  .nav-item {
    flex: 1;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center; 
   
    border-radius: 30px;
    cursor: pointer;
  }
  .icon-noir {
    color: black;
  }

  .active {
    background-color: #41c25f;
  }

  .nav-item:hover {
    background-color: #41c25f;
  }








  

.equipe-title {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
  margin: 30px 500px;
  text-align: center;
}

.docteurs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.docteur-card {
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color:white;
  transition: transform 0.3s;
  z-index: 1;
}

.docteur-card:hover {
  transform: translateY(-5px);
}

.docteur-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.docteur-card h3 {
  margin-top: 15px;
  font-size: 1.2em;
  color: #28a745;
  text-align: center;
}
img strong {
  text-align: center;
}

.social-icons img {
    width: 50px;
    margin: -10px;
    padding: 20px 0px 0px 30px;
    
  }